<div class="panel panel-default panel-no-border">
    <a href="/testla" class="link-secondary">Back</a>
    <div class="panel-heading">
        <strong>Edit Customer</strong>
    </div>
    <div class="panel-body">
        <div class=" ">
            {{ use('yii/widgets/ActiveForm') }}
            {% set form = active_form_begin({
                'id' : 'edit-form',
                'options' : {'class' : 'form-horizontal'},
            }) %}
            {{ form.field(model, 'login') | raw }}
            {{ form.field(model, 'name')| raw }}
            {{ form.field(model, 'password').passwordInput() | raw }}
            {{ form.field(model, 'email')| raw }}
            {{ form.field(model, 'phone')| raw }}
            {{ form.field(model, 'street_1')| raw }}
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
            {{ active_form_end() }}
        </div>
    </div>
</div>