<div class="panel panel-default panel-no-border">
    <a href="{{ path('/site/view', {'id':model.customer_id}) }}" class="link-secondary">Back</a>
    <div class="panel-heading">
        <strong>Edit Recurring Service</strong>
    </div>
    <div class="panel-body">
        <div>
            {{ use('yii/widgets/ActiveForm') }}
            {% set form = active_form_begin({
                'id' : 'edit-form',
                'options' : {'class' : 'form-horizontal'},
            }) %}
            {{ form.field(model, 'tariff_id').dropDownList(tariff_ids) | raw }}
            {{ form.field(model, 'description') | raw }}
            {{ form.field(model, 'unit_price')| raw }}
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
            {{ active_form_end() }}
        </div>
    </div>
</div>
