<div class="panel panel-default panel-no-border">
    <div class="panel-heading">
        <strong>Last 5 added customers</strong>
    </div>
    <div class="panel-body">
        <div class="scrollable-x splynx-table-wrap">
            <table class="table table-striped table-bordered splynx-table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Services</th>
                    <th></th>
                </tr>
                {% for customer in model.getFiveLastAdded() %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.status }}</td>
                        <td>
                            <a href="{{ path('/site/view', {'id': customer.id}) }}">{{ 'View all services'|title }}</a>
                        </td>
                        <td>
                            <div class="index-services-div">
                                <a class="index-services-link"
                                   href="{{ path('/site/edit-customer', {'id': customer.id}) }}" id="">
                                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>