<div class="panel panel-default panel-no-border">
    <a href="/testla" class="link-secondary">Back</a>
    <div class="panel-heading">
        <strong>List services of <span>{{ model.name }}</span> </strong>
    </div>
    <div class="panel-body">
        <div class="scrollable-x splynx-table-wrap">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info view-title-services">
                        <strong><span class="view-title-services-span">#ID </span>Internet services</strong>
                        <a class="view-title-services-a"
                           href="{{ path('/site/add-internet', {'customer_id':model.id}) }}">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% for service in model.getInternetServices(model.id) %}
                        <li class="list-group-item view-services-body-li">
                            <div>
                                <span class="view-services-body-span">{{ service.id }} </span> {{ service.description }}
                            </div>

                            <div class="view-services-edit-div">
                                <a class="view-services-edit-link"
                                   href="{{ path('/site/edit-internet', {'id': service.id}) }}">
                                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                </a>
                                <a class="view-services-edit-link"
                                   href="{{ path('/site/delete-internet', {'id': service.id}) }}">
                                    <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info view-title-services">
                        <strong><span class="view-title-services-span">#ID </span>Voice services</strong>
                        <a class="view-title-services-a" href="{{ path('/site/add-voice', {'customer_id':model.id}) }}">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% for service in model.getVoiceServices(model.id) %}
                        <li class="list-group-item view-services-body-li">
                            <div>
                                <span class="view-services-body-span">{{ service.id }}</span>
                                {{ service.description }}
                            </div>
                            <div class="view-services-edit-div">
                                <a class="view-services-edit-link"
                                   href="{{ path('/site/edit-voice', {'id': service.id}) }}">
                                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                </a>
                                <a class="view-services-edit-link"
                                   href="{{ path('/site/delete-voice', {'id': service.id}) }}">
                                    <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="list-group">
                    {% set service_id = null %}
                    <li class="list-group-item list-group-item-info view-title-services">
                        <strong><span class="view-title-services-span">#ID </span>Recurring services</strong>
                        <a class="view-title-services-a"
                           href="{{ path('/site/add-recurring', {'customer_id':model.id}) }}">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                    <ul class="list-group">
                        {% for service in model.getRecurringServices(model.id) %}
                            <li class="list-group-item view-services-body-li">
                                <div>
                                    <span class="view-services-body-span">{{ service.id }}</span>
                                    {{ service.description }}
                                </div>
                                <div class="view-services-edit-div">
                                    <a class="view-services-edit-link"
                                       href="{{ path('/site/edit-recurring', {'id': service.id}) }}">
                                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <a class="view-services-edit-link"
                                       href="{{ path('/site/delete-recurring', {'id': service.id}) }}">
                                        <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>