/*Index*/
.index-services-div{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.index-services-link{
    padding:3px;
}
/*View*/
.view-title-services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-title-services-span {
    padding-right: 10px;
}

.view-title-services-a {
    padding: 3px;
}

.view-services-body-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-services-body-span {
    padding-right: 10px;
}

.view-services-edit-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.view-services-edit-link {
    padding: 3px;
}